<template>
    <div class="container-fluid h-100" id="container">
        <div id="preloader" class="d-flex align-items-center justify-content-center" v-if="!loaded">
            <loading-progress
                :indeterminate="true"
                size="64"
                fillDuration="2"
            />
        </div>
        <div class="row">
            <div class="col">
                <div class="" id="mapdiv"></div>
                <!-- /container-fluid -->
            </div>
        </div>
    </div>

</template>

<script>
    import * as am4core from "@amcharts/amcharts4/core";
    import * as am4maps from "@amcharts/amcharts4/maps";
    import * as am4charts from "@amcharts/amcharts4/charts";

    import am4themes_animated from "@amcharts/amcharts4/themes/animated";
    import am4themes_dark from "@amcharts/amcharts4/themes/dark";
    import am4geodata_worldLow from "@amcharts/amcharts4-geodata/worldHigh"
    import TrendAnalysis from "./TrendsComponent";

    am4core.useTheme(am4themes_animated);

    export default {
        components: {TrendAnalysis},
        data() {
            return {
                world_cases: [],
                stats: {},
                loaded: false
            }
        },
        beforeMount() {

        },
        mounted() {

        },
        created(){
            this.fetchCases();
        },
        beforeDestroy() {
            if (this.map) {
                this.map.dispose();
            }
        },
        methods: {
            fetchCases() {
                axios.get("/world-stats")
                    .then((response) => {
                        this.world_cases = response.data.data['world'];
                        this.stats = response.data.stats;
                        this.initHeatMap();
                    });
            },

            initHeatMap() {
                // var mapData = this.world_cases;

                var numberFormatter = new am4core.NumberFormatter();

                var backgroundColor = am4core.color("#1e2128");
                var activeColor = am4core.color("#ff8726");
                var confirmedColor = am4core.color("#d21a1a");
                var recoveredColor = am4core.color("#45d21a");
                var deathsColor = am4core.color("#1c5fe5");

                // for an easier access by key
                var colors = {
                    active: activeColor,
                    confirmed: confirmedColor,
                    recovered: recoveredColor,
                    deaths: deathsColor
                };

                var countryColor = am4core.color("#3b3b3b");
                var countryStrokeColor = am4core.color("#000000");


                var container = am4core.create("mapdiv", am4core.Container);
                container.width = am4core.percent(100);
                container.height = am4core.percent(100);

                container.tooltip = new am4core.Tooltip();
                container.tooltip.background.fill = am4core.color("#000000");
                container.tooltip.background.stroke = activeColor;
                container.tooltip.fontSize = "0.9em";
                container.tooltip.getFillFromObject = false;
                container.tooltip.getStrokeFromObject = false;

                // MAP CHART
                // https://www.amcharts.com/docs/v4/chart-types/map/
                var mapChart = container.createChild(am4maps.MapChart);
                // mapChart.height = am4core.percent(80);
                mapChart.zoomControl = new am4maps.ZoomControl();
                mapChart.zoomControl.align = "right";
                mapChart.zoomControl.marginRight = 15;
                mapChart.zoomControl.valign = "top";
                // mapChart.homeGeoPoint = { longitude: 0, latitude: -2 };

                // by default minus button zooms out by one step, but we modify the behavior so when user clicks on minus, the map would fully zoom-out and show world data
                // mapChart.zoomControl.minusButton.events.on("hit", showWorld);
                // clicking on a "sea" will also result a full zoom-out
                // mapChart.seriesContainer.background.events.on("hit", showWorld);
                // mapChart.seriesContainer.background.events.on("over", resetHover);
                mapChart.seriesContainer.background.fillOpacity = 0;
                mapChart.zoomEasing = am4core.ease.sinOut;

                // https://www.amcharts.com/docs/v4/chart-types/map/#Map_data
                // you can use more accurate world map or map of any other country - a wide selection of maps available at: https://github.com/amcharts/amcharts4-geodata
                mapChart.geodata = am4geodata_worldLow;

                // Set projection
                // https://www.amcharts.com/docs/v4/chart-types/map/#Setting_projection
                // instead of Miller, you can use Mercator or many other projections available: https://www.amcharts.com/demos/map-using-d3-projections/
                mapChart.projection = new am4maps.projections.Miller();
                mapChart.panBehavior = "move";

                // when map is globe, beackground is made visible
                mapChart.backgroundSeries.mapPolygons.template.polygon.fillOpacity = 0.05;
                mapChart.backgroundSeries.mapPolygons.template.polygon.fill = am4core.color("#ffffff");
                mapChart.backgroundSeries.hidden = true;

                var polygonSeries = mapChart.series.push(new am4maps.MapPolygonSeries());
                polygonSeries.dataFields.id = "id";
                polygonSeries.dataFields.value = "value";
                polygonSeries.interpolationDuration = 0;

                polygonSeries.exclude = ["AQ"]; // Antarctica is excluded in non-globe projection
                polygonSeries.useGeodata = true;
                polygonSeries.nonScalingStroke = true;
                polygonSeries.strokeWidth = 0.5;
                // this helps to place bubbles in the visual middle of the area
                polygonSeries.calculateVisualCenter = true;
                polygonSeries.data = this.world_cases;

                var polygonTemplate = polygonSeries.mapPolygons.template;
                polygonTemplate.fill = countryColor;
                polygonTemplate.fillOpacity = 1;
                polygonTemplate.stroke = countryStrokeColor;
                polygonTemplate.strokeOpacity = 0.15;
                polygonTemplate.setStateOnChildren = true;
                polygonTemplate.tooltipPosition = "fixed";

                // polygonTemplate.tooltipText = `[bold]{name}[/]
                // [bold][font-size:14px]Reported Cases[/]: [font-size:14px]{value}
                // [bold][font-size:14px]Active[/]: [font-size:14px]{active}
                // [bold][font-size:14px]Deaths[/]: [font-size:14px]{deaths}
                // [bold][font-size:14px]Recovered[/]: [font-size:14px]{recovered}`;

                polygonTemplate.events.on("hit", (event) => {
                    if (event.target.dataItem.dataContext.value !== undefined) {
                        let animation = mapChart.zoomToMapObject(event.target, 3000000, true, 500);
                        animation.events.on("animationended", () => {
                            this.$router.replace({
                                name: 'country',
                                params: {country: event.target.dataItem.dataContext.id}
                            });
                        });
                    } else {
                        mapChart.openModal("We don't have stats for " + event.target.dataItem.dataContext.name, "Sorry!");
                    }
                });
                // polygonTemplate.events.on("over", handleCountryOver);
                // polygonTemplate.events.on("out", handleCountryOut);


                polygonSeries.heatRules.push({
                    "target": polygonTemplate,
                    "property": "fill",
                    "min": countryColor,
                    "max": countryColor,
                    "dataField": "value"
                });


                // you can have pacific - centered map if you set this to -154.8
                mapChart.deltaLongitude = -8;

                // polygon states
                var polygonHoverState = polygonTemplate.states.create("hover");
                polygonHoverState.transitionDuration = 1400;
                polygonHoverState.properties.fill = activeColor;


                // Bubble series
                var bubbleSeries = mapChart.series.push(new am4maps.MapImageSeries());
                bubbleSeries.data = this.world_cases;

                bubbleSeries.mapImages.template.tooltipText = `[bold]{name}[/]
                [bold][font-size:14px]Reported Cases[/]: [font-size:14px]{value}
                [bold][font-size:14px]Active[/]: [font-size:14px]{active}
                [bold][font-size:14px]Deaths[/]: [font-size:14px]{deaths}
                [bold][font-size:14px]Recovered[/]: [font-size:14px]{recovered}`;

                bubbleSeries.dataFields.value = "value";
                bubbleSeries.dataFields.id = "id";

                // adjust tooltip
                bubbleSeries.tooltip.animationDuration = 0;
                bubbleSeries.tooltip.showInViewport = false;
                bubbleSeries.tooltip.background.fillOpacity = 0.2;
                bubbleSeries.tooltip.getStrokeFromObject = true;
                bubbleSeries.tooltip.getFillFromObject = false;
                bubbleSeries.tooltip.background.fillOpacity = 0.2;
                bubbleSeries.tooltip.background.fill = am4core.color("#000000");


                var imageTemplate = bubbleSeries.mapImages.template;
                // if you want bubbles to become bigger when zoomed, set this to false
                imageTemplate.nonScaling = true;
                imageTemplate.strokeOpacity = 0;
                imageTemplate.fillOpacity = 0.55;
                // imageTemplate.tooltipText = "{name}: [bold]{value}[/]";
                imageTemplate.applyOnClones = true;

                imageTemplate.events.on("hit", (event) => {
                    if (event.target.dataItem.dataContext.value !== undefined) {
                        let animation = mapChart.zoomToMapObject(event.target, 3000000, true, 500);
                        animation.events.on("animationended", () => {
                            this.$router.replace({
                                name: 'country',
                                params: {country: event.target.dataItem.dataContext.id}
                            });
                        });
                    } else {
                        mapChart.openModal("We don't have stats for " + event.target.dataItem.dataContext.name, "Sorry!");
                    }
                });
                // imageTemplate.events.on("over", handleImageOver);
                // imageTemplate.events.on("out", handleImageOut);

                // this is needed for the tooltip to point to the top of the circle instead of the middle
                imageTemplate.adapter.add("tooltipY", function (tooltipY, target) {
                    return -target.children.getIndex(0).radius;
                });


                var imageHoverState = imageTemplate.states.create("hover");
                imageHoverState.properties.fillOpacity = 1;

                // add circle inside the image
                var circle = imageTemplate.createChild(am4core.Circle);
                // this makes the circle to pulsate a bit when showing it
                circle.hiddenState.properties.scale = 0.0001;
                circle.hiddenState.transitionDuration = 2000;
                circle.defaultState.transitionDuration = 2000;
                circle.defaultState.transitionEasing = am4core.ease.elasticOut;
                // later we set fill color on template (when changing what type of data the map should show) and all the clones get the color because of this
                circle.applyOnClones = true;

                // heat rule makes the bubbles to be of a different width. Adjust min/max for smaller/bigger radius of a bubble
                bubbleSeries.heatRules.push({
                    "target": circle,
                    "property": "radius",
                    "min": 3,
                    "max": 30,
                    "dataField": "value"
                });

                bubbleSeries.mapImages.template.fill = colors.active;
                bubbleSeries.mapImages.template.stroke = colors.active;
                // first child is circle
                bubbleSeries.mapImages.template.children.getIndex(0).fill = colors.active;

                bubbleSeries.events.on("dataitemsvalidated", function () {
                    bubbleSeries.dataItems.each((dataItem) => {
                        var mapImage = dataItem.mapImage;
                        var circle = mapImage.children.getIndex(0);
                        if (mapImage.dataItem.value == 0) {
                            circle.hide(0);
                        } else if (circle.isHidden || circle.isHiding) {
                            circle.show();
                        }
                    })
                });

                imageTemplate.adapter.add("latitude", function (latitude, target) {
                    var polygon = polygonSeries.getPolygonById(target.dataItem.id);
                    if (polygon) {
                        target.disabled = false;
                        return polygon.visualLatitude;
                    } else {
                        target.disabled = true;
                    }
                    return latitude;
                });

                imageTemplate.adapter.add("longitude", function (longitude, target) {
                    var polygon = polygonSeries.getPolygonById(target.dataItem.id);
                    if (polygon) {
                        target.disabled = false;
                        return polygon.visualLongitude;
                    } else {
                        target.disabled = true;
                    }
                    return longitude;
                });

                var title = mapChart.titles.create();
                title.fontSize = "1.5em";
                title.text = "COVID-19 World Spread Data";
                title.align = "left";
                title.horizontalCenter = "left";
                title.marginLeft = 20;
                title.paddingBottom = 10;
                title.fill = am4core.color("#ffffff");
                title.y = 20;


                function rollOverCountry(mapPolygon) {

                    resetHover();
                    if (mapPolygon) {
                        mapPolygon.isHover = true;

                        // make bubble hovered too
                        var image = bubbleSeries.getImageById(mapPolygon.dataItem.id);
                        if (image) {
                            image.dataItem.dataContext.name = mapPolygon.dataItem.dataContext.name;
                            image.isHover = true;
                        }
                    }
                }

                function rollOutCountry(mapPolygon) {
                    var image = bubbleSeries.getImageById(mapPolygon.dataItem.id);

                    resetHover();
                    if (image) {
                        image.isHover = false;
                    }
                }

                function resetHover() {
                    polygonSeries.mapPolygons.each(function (polygon) {
                        polygon.isHover = false;
                    });
                }

                function handleImageOver(event) {
                    rollOverCountry(polygonSeries.getPolygonById(event.target.dataItem.id));
                }

                function handleImageOut(event) {
                    rollOutCountry(polygonSeries.getPolygonById(event.target.dataItem.id));
                }

                setTimeout(()=>{
                    this.loaded = true;
                }, 2000);


//                 let handleImageHit = (event) => {
//                     if (event.target.dataItem.dataContext.value !== undefined) {
//                         mapChart.zoomToMapObject(event.target, 3000000, true, 1000);
// //
//                         this.$router.push({name: 'country', params: {country: event.target.dataItem.dataContext.id}});
//                     }
//                 }

//                 let chart = am4core.create("mapdiv", am4maps.MapChart);
//
//                 chart.geodata = am4geodata_worldLow;
//                 chart.projection = new am4maps.projections.Miller();
//
//                 chart.tapToActivate = true;
//                 chart.dragGrip.disabled = false;
//
//
//                 var polygonSeries = chart.series.push(new am4maps.MapPolygonSeries());
//                 polygonSeries.useGeodata = true;
//
//                 var polygonTemplate = polygonSeries.mapPolygons.template;
//                 polygonTemplate.tooltipText = `[bold]{name}[/]
//                 [bold]Cases[/]: {value}
//                 [bold]Active[/]: {active}
//                 [bold]Deaths[/]: {deaths}
//                 [bold]Recovered[/]: {recovered}`;
//
// // Create hover state and set alternative fill color
//                 var hs = polygonTemplate.states.create("hover");
//                 hs.properties.fill = am4core.color("#f4999f");
//
//
// // Remove Antarctica
//                 polygonSeries.exclude = ["AQ"];
//
//                 var heatLegend = chart.createChild(am4maps.HeatLegend);
//                 heatLegend.id = "heatLegend";
//                 heatLegend.series = polygonSeries;
//                 heatLegend.align = "right";
//                 heatLegend.valign = "top";
//                 heatLegend.width = am4core.percent(35);
//                 heatLegend.marginRight = am4core.percent(4);
//                 heatLegend.background.fill = am4core.color("#000");
//                 heatLegend.background.fillOpacity = 0.05;
// // Add heat rule
//                 polygonSeries.heatRules.push({
//                     "property": "fill",
//                     "target": polygonSeries.mapPolygons.template,
//                     "min": am4core.color("#2C4F83"),
//                     "max": am4core.color("#980000")
//                 });
//
//
//                 var mapData = JSON.parse(JSON.stringify(slideData.list));
//                 polygonSeries.data = this.world_cases;
//
//
//                 // Add zoom control
//                 chart.zoomControl = new am4maps.ZoomControl();
//
//
//                 polygonSeries.mapPolygons.template.events.on("hit", (ev) => {
//                     this.show = true;
//                     var chart = ev.target.series.chart;
//
//                     // Zoom to clicked element
//                     if (ev.target.dataItem.dataContext.value !== undefined) {
//                         chart.zoomToMapObject(ev.target, 3000000, true, 1000);
//                         back.show();
//
//                         this.$router.push({name: 'country', params: {country: ev.target.dataItem.dataContext.id}});
//                     }
//                 });
//
//                 var back = chart.createChild(am4core.ZoomOutButton);
//                 back.align = "right";
//                 back.hide();
//                 back.events.on("hit", function (ev) {
//                     chart.goHome();
//                     back.hide();
//                 });
//
            }
        }
    }


</script>
<style scoped>
    #container {
        background-color: #212327;
        color: #aaa;
        padding: 0px;
        margin: 0px;
    }

    #mapdiv {
        width: 100%;
        height: 100vh;
    }

    .vue-progress-path path {
        stroke-width: 6;
    }

    .vue-progress-path .progress {
        stroke: #ff8726 !important;
    }

    .vue-progress-path .background {
        stroke: #1e2128 !important;

    }


    #preloader {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        bottom: 0;
        background-color: #212327;
        z-index: 999999;
    }
</style>
