<template>
    <div class="p-4 pt-4">
        <div id="preloader" class="d-flex align-items-center justify-content-center" v-if="!loaded">
            <loading-progress
                :indeterminate="true"
                size="64"
                fillDuration="2"
            />
        </div>
        <div class="content">

            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800"><span><img class="flag" :src="flag" :alt="stats.country"></span>
                    {{stats.country}} </h1>
                <router-link to="/" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                    class="fas fa-arrow fa-sm text-white-50"></i> Go Back to World Map
                </router-link>
            </div>

            <!-- Content Row -->
            <div class="row">

                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Cases
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{stats.cases}}</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-warning shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Active</div>
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-auto">
                                            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{stats.active}}
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="progress progress-sm mr-2">
                                                <div class="progress-bar bg-warning" role="progressbar"
                                                     :style="{width: getPercentage('active')+'%'}"
                                                     v-bind:aria-valuenow="50" aria-valuemin="0"
                                                     aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Recovered
                                    </div>
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-auto">
                                            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{stats.recovered}}
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="progress progress-sm mr-2">
                                                <div class="progress-bar bg-success" role="progressbar"
                                                     :style="{width: getPercentage('recovered')+'%'}"
                                                     v-bind:aria-valuenow="50" aria-valuemin="0"
                                                     aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--                            <div class="col-auto">-->
                                <!--                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>-->
                                <!--                            </div>-->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-danger shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Deaths</div>
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-auto">
                                            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{stats.deaths}}
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="progress progress-sm mr-2">
                                                <div class="progress-bar bg-danger" role="progressbar"
                                                     :style="{width: getPercentage('deaths')+'%'}"
                                                     v-bind:aria-valuenow="50" aria-valuemin="0"
                                                     aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Content Row -->

            <div class="row">

                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-info shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tests
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{stats.tests}}</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-book-medical fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-warning shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Critical
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{stats.critical}}</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-ambulance fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Cases (Today)
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{stats.todayCases}}</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-arrow-up fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-danger shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Deaths
                                        (Today)
                                    </div>
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-auto">
                                            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                                {{stats.todayDeaths}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Area Chart -->
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Trend Analysis</h6>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="chart-area">
                                <div id="myAreaChart" class="h-100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Case Distribution</h6>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="p-3" id="myPieChart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--        &lt;!&ndash; Content Row &ndash;&gt;-->
            <div class="row" v-if="$route.params.country !== undefined && $route.params.country.toLowerCase() === 'gh'">

                <!-- Content Column -->
                <div class="col-lg-8 col-md-8 col-sm-12 mb-2">

                    <div class="card shadow mb-4 h-100">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Cases Recorded Per Region</h6>
                        </div>
                        <div class="card-body">
                            <div style="height: 60vh;">
                                <div id="myBarChart"></div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 mb-2">

                    <div class="card shadow mb-4 h-100">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Affected Regions</h6>
                        </div>
                        <div class="card-body">
                            <div id="localmapdiv"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>

    import Chart from 'chart.js';
    import * as am4core from "@amcharts/amcharts4/core";
    import * as am4maps from "@amcharts/amcharts4/maps";
    import * as am4charts from "@amcharts/amcharts4/charts";

    import am4themes_animated from "@amcharts/amcharts4/themes/animated";
    import am4geodata_ghHigh from "@amcharts/amcharts4-geodata/ghanaHigh"

    am4core.useTheme(am4themes_animated);

    Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#858796';
    export default {
        name: "trend-analysis",
        data() {
            return {
                chartData: [],
                pieChartData: {},
                trendData: {},
                stats: {},
                localCases: [],
                regional: [],
                flag: '',
                loaded: false,
            }
        },
        beforeMount() {

        },
        created() {
            this.fetchCases();
        },
        mounted() {

        },
        beforeDestroy() {
            if (this.map) {
                this.map.dispose();
            }
        },
        methods: {
            goBack() {
                return window.history.length > 1 ? window.history.back() : this.$router.push('/');
            },
            fetchCases() {
                axios.get("/trend-analysis/" + this.$route.params.country)
                    .then((response) => {
                        this.chartData = response.data.results;
                        this.stats = response.data.stats;
                        this.flag = this.stats['countryInfo']['flag'];
                        this.pieChartData = response.data.pieChartData;
                        this.trendData = response.data.trendData;
                        this.localCases = response.data.localCases;
                        this.regional = response.data.regional;
                        this.initChart();
                    });
            },
            getPercentage: function (key) {
                try {
                    return (this.stats[key] / this.stats.cases) * 100;
                } catch (e) {
                    return 0;
                }
            },
            initChart() {

                try {
                    var chartPie = am4core.create("myPieChart", am4charts.PieChart3D);
                    var pieSeries = chartPie.series.push(new am4charts.PieSeries3D());

                    pieSeries.slices.template.stroke = am4core.color("#fff");
                    pieSeries.slices.template.strokeWidth = 0.5;
                    pieSeries.slices.template.strokeOpacity = 1;

                    pieSeries.dataFields.value = "value";
                    pieSeries.dataFields.category = "category";

                    pieSeries.labels.template.disabled = true;
                    pieSeries.ticks.template.disabled = true;
                    pieSeries.slices.template.propertyFields.fill = "color";


                    chartPie.legend = new am4charts.Legend();

// Position legend
                    chartPie.legend.position = "top";
                    chartPie.legend.contentAlign = "center";

                    chartPie.data = this.pieChartData;

                    // Set input format for the dates
                    let chart = am4core.create("myAreaChart", am4charts.XYChart);
                    chart.dateFormatter.inputDateFormat = "yy-MM-dd";
                    chart.dateFormatter.dateFormat = "MMM-dd";


// Create axes
                    chart.data = this.trendData;
                    var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
                    var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

// Create series
                    var series = chart.series.push(new am4charts.LineSeries());
                    series.dataFields.valueY = "cases";
                    series.dataFields.dateX = "date";
                    series.strokeWidth = 2;
                    series.name = "Cases";
                    series.tooltipText = "{dateX}: [b]{cases} Cases[/]";
                    series.tooltip.getFillFromObject = true;




// Drop-shaped tooltips
                    series.tooltip.background.cornerRadius = 20;
                    series.tooltip.background.strokeOpacity = 0;
                    series.tooltip.pointerOrientation = "vertical";
                    series.tooltip.label.minWidth = 40;
                    series.tooltip.label.minHeight = 40;
                    series.tooltip.label.textAlign = "middle";
                    series.tooltip.label.textValign = "middle";

                    var series2 = chart.series.push(new am4charts.LineSeries());
                    series2.dataFields.valueY = "deaths";
                    series2.dataFields.dateX = "date";
                    series2.tooltipText = "{deaths}";
                    series2.strokeWidth = 2;
                    series2.stroke = am4core.color("#e74a3b");
                    series2.name = "Deaths";
                    series2.tooltipText = "{dateX}: [b]{deaths} Deaths[/]";
                    series2.tooltip.getFillFromObject = true;

// Drop-shaped tooltips
                    series2.tooltip.background.cornerRadius = 20;
                    series2.tooltip.background.strokeOpacity = 0;
                    series2.tooltip.pointerOrientation = "vertical";
                    series2.tooltip.label.minWidth = 40;
                    series2.tooltip.label.minHeight = 40;
                    series2.tooltip.label.textAlign = "middle";
                    series2.tooltip.label.textValign = "middle";

                    var series3 = chart.series.push(new am4charts.LineSeries());
                    series3.dataFields.valueY = "recovered";
                    series3.dataFields.dateX = "date";
                    series3.tooltipText = "{recovered}";
                    series3.strokeWidth = 2;

                    series3.name = "Recovered";
                    series3.tooltipText = "{dateX}: [b]{recovered} Recovered[/]";
                    series3.tooltip.getFillFromObject = true;
// Drop-shaped tooltips
                    series3.tooltip.background.cornerRadius = 20;
                    series3.tooltip.background.strokeOpacity = 0;
                    series3.tooltip.pointerOrientation = "vertical";
                    series3.tooltip.label.minWidth = 40;
                    series3.tooltip.label.minHeight = 40;
                    series3.tooltip.label.textAlign = "middle";
                    series3.tooltip.label.textValign = "middle";
                    series3.stroke = am4core.color("#1cc88a"); // red



// Make bullets grow on hover
                    var bullet = series.bullets.push(new am4charts.CircleBullet());
                    bullet.circle.strokeWidth = 2;
                    bullet.circle.radius = 4;
                    bullet.circle.fill = am4core.color("#fff");

                    var bullet2 = series2.bullets.push(new am4charts.CircleBullet());
                    bullet2.circle.strokeWidth = 2;
                    bullet2.circle.radius = 4;
                    bullet2.circle.fill = am4core.color("#fff");

                    var bullet3 = series3.bullets.push(new am4charts.CircleBullet());
                    bullet3.circle.strokeWidth = 2;
                    bullet3.circle.radius = 4;
                    bullet3.circle.fill = am4core.color("#fff");

                    var bullethover = bullet.states.create("hover");
                    bullethover.properties.scale = 1.3;

                    var bullethover2 = bullet2.states.create("hover");
                    bullethover2.properties.scale = 1.3;

                    var bullethover3 = bullet3.states.create("hover");
                    bullethover3.properties.scale = 1.3;

                    chart.legend = new am4charts.Legend();
                    chart.cursor = new am4charts.XYCursor();



                    let mapchart = am4core.create("localmapdiv", am4maps.MapChart);

                    mapchart.geodata = am4geodata_ghHigh;
                    mapchart.projection = new am4maps.projections.Miller();

                    mapchart.tapToActivate = true;
                    mapchart.dragGrip.disabled = false;

                    mapchart.chartContainer.wheelable = false;

                    var polygonSeries = mapchart.series.push(new am4maps.MapPolygonSeries());
                    polygonSeries.useGeodata = true;
                    polygonSeries.show();

                    var polygonTemplate = polygonSeries.mapPolygons.template;
                    polygonTemplate.tooltipText = `[bold]{name}[/]
                    [bold]Cases[/]: {value}`;

                    polygonTemplate.propertyFields.fill = "color";


                    polygonSeries.data = this.localCases;


                    chart = am4core.create("myBarChart", am4charts.XYChart);

                    chart.data = this.localCases.filter(value => value.value > 0);

                    chart.padding(40, 40, 40, 40);

                    var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
                    categoryAxis.renderer.grid.template.location = 0;
                    categoryAxis.dataFields.category = "name";
                    categoryAxis.renderer.minGridDistance = 60;
                    categoryAxis.renderer.inversed = true;
                    categoryAxis.renderer.grid.template.disabled = true;
                    categoryAxis.renderer.labels.template.rotation = 270;

                    valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
                    valueAxis.min = 0;
                    valueAxis.extraMax = 0.1;
//valueAxis.rangeChangeEasing = am4core.ease.linear;
//valueAxis.rangeChangeDuration = 1500;

                    series = chart.series.push(new am4charts.ColumnSeries());
                    series.dataFields.categoryX = "name";
                    series.dataFields.valueY = "value";
                    series.tooltipText = "{valueY.value}";
                    series.columns.template.strokeOpacity = 0;
                    series.columns.template.column.cornerRadiusTopRight = 10;
                    series.columns.template.column.cornerRadiusTopLeft = 10;
//series.interpolationDuration = 1500;
//series.interpolationEasing = am4core.ease.linear;
                    var labelBullet = series.bullets.push(new am4charts.LabelBullet());
                    labelBullet.label.verticalCenter = "bottom";
                    labelBullet.label.dy = -10;
                    labelBullet.label.text = "{values.valueY.workingValue.formatNumber('#.')}";

                    chart.zoomOutButton.disabled = true;

// as by default columns of the same series are of the same color, we add adapter which takes colors from chart.colors color set
                    series.columns.template.adapter.add("fill", function (fill, target) {
                        return chart.colors.getIndex(target.dataItem.index);
                    });


                } catch (e) {
                    console.log(e);
                } finally {
                    this.loaded = true;
                }


            }

        }

    }
</script>

<style scoped>
    #localmapdiv {
        width: 100%;
        height: 100%;
    }

    #myPieChart {
        width: 100%;
        height: 75vh;
    }
    #myBarChart {
        width: 100%;
        height: 75vh;
    }

    .vue-progress-path path {
        stroke-width: 6;
    }

    .vue-progress-path .progress {
        stroke: #ff8726 !important;
    }

    .vue-progress-path .background {
        stroke: #1e2128 !important;

    }

    #preloader {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        bottom: 0;
        background-color: #ffffff;
        z-index: 999999;
    }

    .flag {
        height: 6vh;
    }
</style>
